#profile {
	background-color: #eceff1;
}
.profiledata {
	width: 1024px;
	margin: 0 auto;
}

.myicon {
	background-image: url('../img/my-icon.jpg');
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 50%;
}

.datatitle {
	margin: 20px 0 5px 0;
	font-size: 20px;
}
.explanatorytext {
	font-size: 16px;
	color: #000000;
}

@media screen and (max-width: 768px) {
	.profiledata {
		width: 90%;
		padding: 0 5% 0 5%;
		text-align: center;
	}
}
